version: 2.1

workflows:
  lint_build_and_test:
    jobs:
      - lint
      - build-and-test:
          requires:
            - lint

jobs:
  lint:
    docker:
      - image: circleci/python:3.9
    working_directory: ~/checkfiles
    steps:
      - checkout
      - run: pip install pre-commit==2.17.0
      - run: pre-commit run --all-files
  build-and-test:
    docker:
      - image: circleci/python:3.9
    working_directory: ~/checkfiles
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update && sudo apt-get -y install rustc cargo git
            git clone https://github.com/IGVF-DACC/fastq_stats.git
            cd fastq_stats
            cargo build
            sudo cp target/debug/fastq_stats /usr/bin
            sudo chmod 755 /usr/bin/fastq_stats
            pip install -r src/checkfiles/requirements.txt
            pip install coveralls
            sudo curl -sS -L -o /usr/local/bin/validateFiles http://hgdownload.cse.ucsc.edu/admin/exe/linux.x86_64/validateFiles
            sudo chmod +x /usr/local/bin/validateFiles

      - run:
          name: Tests
          command: pytest --cov .
      - run:
          name: Upload coverage report
          command:
            coveralls
