version: 2.1

workflows:
  lint_build_and_test:
    jobs:
      - lint
      - build-and-test:
          requires:
            - lint

jobs:
  lint:
    docker:
      - image: cimg/python:3.9
    working_directory: ~/checkfiles
    steps:
      - checkout
      - run: pip install pre-commit==2.17.0
      - run: pre-commit run --all-files
  build-and-test:
    docker:
      - image: cimg/python:3.9
    working_directory: ~/checkfiles
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            curl https://sh.rustup.rs -sSf | sh -s -- -y
            source "$HOME/.cargo/env"
            git clone https://github.com/IGVF-DACC/fastq_stats.git
            cd fastq_stats
            cargo build
            sudo cp target/debug/fastq_stats /usr/bin
            sudo chmod 755 /usr/bin/fastq_stats
            cd ..
            pip install -r src/checkfiles/requirements.txt
            pip install coveralls
            sudo curl -sS -L -o /usr/local/bin/validateFiles https://raw.github.com/IGVF-DACC/validateFiles/main/validateFiles
            sudo chmod +x /usr/local/bin/validateFiles
            sudo wget https://github.com/EBIvariation/vcf-validator/releases/download/v0.10.0/vcf_assembly_checker_linux
            sudo chmod 755 vcf_assembly_checker_linux
            sudo cp vcf_assembly_checker_linux /usr/local/bin/vcf_assembly_checker
      - run:
          name: Tests
          command: pytest --ignore=cdk --cov .
      - run:
          name: Upload coverage report
          command:
            coveralls
