boto3==1.26.0
frictionless==5.18.0
h5py==3.14.0
pysam==0.21.0
pytest==7.2.0
pytest-cov==4.0.0
pytest-mock==3.10.0
py-fasta-validator==0.5
requests==2.28.1
# use seqspec tag so we can keep track of seqspec update in checkfiles version
git+https://github.com/IGVF-DACC/seqspec.git@v25-09-23
